* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(145, 142, 151, 0.8);
}

.slider-wrapper {
    position: relative;
    top: 30px;
    margin: 0 auto;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #382d49;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(23, 14, 37);
}
.slider {
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.slider-inner {
    display: flex;
    width: 400%;
    height: 100%;
}
.slide {
    width: 25%;
    transition: 0.5s all ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.descriptions {
    width: 80%;
}

.descriptions-inner {
    display: flex;
    width: 400%;
    align-items: center;
}
.descr {
    width: 25%;
    padding: 4px 0;
    font-size: 1.2rem;
    color: white;
    transition: 0.5s all ease;
}

.labels {
    display: flex;
    align-items: center;
    background-color: #382d49;
    width: 20%;
}

.labels label {
    padding: 4px;
    cursor: pointer;
}

.bar {
    width: 4px;
    height: 4px;
    margin: 3px;
    padding: 5px;
    background-color: #a3a0aa;
    border-radius: 100%;
    border: 3px solid #a3a0aa;
    transition: 0.5s ease all;
}

label:hover .bar {
    background-color: white;
    border-color: white;
}
label:active .bar {
    border: 3px solid #cfb129;
    background-color: #cfb129;
}
label:focus .bar {
    border: 3px solid #cfb129;
    background-color: #cfb129;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

#r1:checked ~ .navigation .labels label .bar1,
#r2:checked ~ .navigation .labels label .bar2,
#r3:checked ~ .navigation .labels label .bar3,
#r4:checked ~ .navigation .labels label .bar4{
    background-color: transparent;
}
#r1:checked ~ .navigation .labels label:hover .bar1,
#r2:checked ~ .navigation .labels label:hover .bar2,
#r3:checked ~ .navigation .labels label:hover .bar3,
#r4:checked ~ .navigation .labels label:hover .bar4{
    border-color: white;
}
#r1:checked ~ .navigation .labels label:active .bar1,
#r2:checked ~ .navigation .labels label:active .bar2,
#r3:checked ~ .navigation .labels label:active .bar3,
#r4:checked ~ .navigation .labels label:active .bar4{
    border-color: #cfb129;
}


#r1:checked ~ .slider .slider-inner .s1{
    margin-left: 0%;
}
#r2:checked ~ .slider .slider-inner .s1{
    margin-left: -25%;
}
#r3:checked ~ .slider .slider-inner .s1{
    margin-left: -50%;
}
#r4:checked ~ .slider .slider-inner .s1{
    margin-left: -75%;
}

#r1:checked ~ .navigation  .descriptions .descr1{
    margin-left: 0%;
}
#r2:checked ~ .navigation  .descriptions .descr1{
    margin-left: -25%;
}
#r3:checked ~ .navigation  .descriptions .descr1{
    margin-left: -50%;
}
#r4:checked ~ .navigation  .descriptions .descr1{
    margin-left: -75%;
}
